@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/QuanTriVien/Views/Shared/_LayoutAdmin.cshtml";
}
@using QLTourDucLich.Areas.QuanTriVien.ViewModel
@using QLTourDucLich.Areas.QuanTriVien.Queries
@{
    TourQueries tourQueries = new TourQueries();
    List<TourViewModel> dsTours = tourQueries.LayDanhSachTour();
}
@model ChinhSuaTourViewModel

<div class="container">
    <h2>Basic Table</h2>
    <div>

        @using (Html.BeginForm("Index", "Admin", FormMethod.Post))
        {
            <table>
                <tr>
                    <td>@Html.LabelFor(m => m.Tour.LoaiTour)</td>
                    <td>
                        @Html.TextBoxFor(m => m.Tour.LoaiTour, new { @class = "form-control", @name = "MaTour", @type = "text", @autofocus = "" })
                        @Html.ValidationMessageFor(model => model.Tour.LoaiTour, "", new { @class = "text-danger" })
                    </td>
                    <td>@Html.LabelFor(m => m.Tour.TenTour)</td>
                    <td>@Html.TextBoxFor(m => m.Tour.TenTour)</td>
                    <td>@Html.LabelFor(m => m.Tour.DiemDi)</td>
                    <td>@Html.DropDownListFor(model => model.Tour.DiemDi, new SelectList(Model.DiemDis, "Value", "Text"), "-Select Day-")</td>
                    <td>@Html.LabelFor(m => m.Tour.GiaNguoiLon)</td>
                    <td>
                        @Html.TextBoxFor(m => m.Tour.GiaNguoiLon)
                        @Html.ValidationMessageFor(model => model.Tour.GiaNguoiLon, "", new { @class = "text-danger" })
                    </td>
                </tr>

                <tr>
                    <td>@Html.LabelFor(m => m.Tour.NgayKH)</td>
                    <td>
                        @Html.TextBoxFor(m => m.Tour.NgayKH, new { @Value = DateTime.Now.ToShortDateString(), id = "datepicker2", @class = "form-control" })
                    </td>
                    <td>@Html.LabelFor(m => m.KhachSan)</td>
                    <td>@Html.DropDownListFor(m => m.KhachSan, new SelectList(Model.KhachSans, "value", "Text"))</td>
                    <td>@Html.LabelFor(m => m.Tour.DiemDen)</td>
                    <td>@Html.DropDownListFor(model => model.Tour.DiemDen, new SelectList(Model.DiemDis, "Value", "Text"), "-Select Day-")</td>
                    <td>@Html.LabelFor(m=>m.Tour.GiaTreEm)</td>
                    <td>
                        @Html.TextBoxFor(m => m.Tour.GiaTreEm)
                        @Html.ValidationMessageFor(model => model.Tour.GiaTreEm, "", new { @class = "text-danger" })
                    </td>

                </tr>
                    

            </table>
            <input name="them" value="Thêm" type="submit" />

        }

    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Mã Tour</th>
                <th>Tên tour</th>
                <th>Khách sạn</th>
                <th>Giờ đi</th>
                <th>Giờ đến</th>
                <th>Nơi đi</th>
                <th>Nơi đến</th>
                <th>Giá trẻ em</th>
                <th>Giá người lớn</th>

            </tr>
        </thead>
        <tbody>
            @foreach (TourViewModel item in dsTours)
            {
                <tr>
                    <td>@item.MaTour</td>
                    <td>@item.TenTour</td>
                    <td>@item.TenKhachSan</td>
                    <td>@item.NgayKH</td>
                    <td>@item.NgayKT</td>
                    <td>@item.DiemDi</td>
                    <td>@item.DiemDen</td>
                    <td>@item.GiaTreEm</td>
                    <td>@item.GiaNguoiLon</td>
                </tr>
            }


        </tbody>
    </table>
</div>
