@using QLTourDucLich.Models;
@using PagedList.Mvc;
<link href="~/Content/PhanTrang.css" rel="stylesheet" />

@{
    /**/

    /**/

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_layout.cshtml";
}

@using QLTourDucLich.ViewModel.Tour
@model TimKiemTourViewModel
<!-- <div class="left-content pull-left"> -->
<div class="container-fluid">

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>

        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="images/animate.png" alt="Los Angeles">
            </div>

            <div class="item">
                <img src="images/animate1.png" alt="Chicago">
            </div>


        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<div class="section-tab">
    <div class="nav-btn-tab">
        <button class="tablinks active" data-val="tab-A">Tour</button>
        <button class="tablinks" data-val="tab-C">Khách sạn</button>
    </div>
    <div id="tab-A" class="tabcontent" style="display: block;">
        <div class="radio">
            <div class="form-group">
                @using (Html.BeginForm("TimKiemTour", "Tour", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary()

                    <div class="form-group col-12 col-sm-3 col-md-3">
                        @Html.DropDownListFor(m => m.NoiDi, (SelectList)ViewBag.MaDiaDiemDi, new { @class = "form-control" })
                    </div>

                    <div class="form-group col-12 col-sm-3 col-md-3">
                        @Html.DropDownListFor(m => m.NoiDen, (SelectList)ViewBag.MaDiaDiemDen, new { @class = "form-control" })
                    </div>

                    <div style="overflow:  hidden;" class="date-time form-group col-12 col-sm-3 col-md-3">
                        <div class="input-group" style="width: 100%;float: right;">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            @Html.TextBoxFor(m => m.NgayDi, new { @Value = DateTime.Now.ToShortDateString(), @class = "form-control picker-control", @required = true, placeholder = "Ngày đi", style = "border-radius: 0 4px 4px 0;" })
                            @Html.ValidationMessageFor(m => m.NgayDi)
                        </div>
                    </div>

                    <div class="form-submit form-group col-12 col-sm-3 col-md-3">
                        <button type="submit">
                            <span>Tìm kiếm</span>
                        </button>
                    </div>
                }
            </div>
        </div>

    </div>

    <!-- </div> -->
</div>
@if (TempData["TourTimDuoc"] == null)
{
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 title-sm">
                <h4 class="text-uppercase">
                    Tour Du Lịch Phổ Bidến Nhất Hiện Nay
                </h4>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            @foreach (var item in ViewBag.Tours)
            {
                <a href='@Url.Action("ChiTietTour", "Tour", new { @matour = item.Tour.MaTour })'>
                    <div class='col-sm-4 col-md-3'>
                        <div class='panel panel-primary'>
                            <div class='panel-heading'>
                                <h4>@item.Tour.DiemDi - @item.Tour.DiemDen</h4>
                            </div>
                            <div class='panel-body' style="text-align: center">
                                <img src="@Url.Content("~/Images/" + item.AnhDiaDiem)" width="200" height="150">
                            </div>

                            <div class='panel-footer'>
                              Giá:  @item.Tour.GiaNguoiLon
                            </div>
                        </div>
                    </div>
                </a>
            }
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="pagination">
                <span style="color: blue">
                    Trang @(ViewBag.Tours.PageCount < ViewBag.Tours.PageNumber ? 0 : ViewBag.Tours.PageNumber)
                    of @ViewBag.Tours.PageCount
                </span>
                @Html.PagedListPager((PagedList.IPagedList<QLTourDucLich.ViewModel.Tour.TourChiTietViewModel>)ViewBag.Tours, page => Url.Action("Index", new { page = page }))
            </div>
        </div>

    </div>

}
else
{
    var kQuaTimKiem = (List<TourChiTietViewModel>)TempData["TourTimDuoc"];
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 title-sm">
                <h4 class="text-uppercase" style="color: red">
                    Kết quả tìm kiếm
                </h4>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            @if (kQuaTimKiem.Count == 0)
            {
                <h4>Không có tour cho hành trình này</h4>
            }
            else
            {
                foreach (var item in kQuaTimKiem)
                {
                    <a href='@Url.Action("ChiTietTour", "Tour", new { @matour = item.Tour.MaTour })'>
                        <div class='col-sm-4 col-md-3'>
                            <div class='panel panel-primary'>
                                <div class='panel-heading'>
                                    <h4>@item.Tour.DiemDen</h4>
                                </div>
                                <div class='panel-body' style="text-align: center">
                                    <img src="@Url.Content("~/Images/"+item.AnhDiaDiem )" width="200" height="150">
                                </div>

                                <div class='panel-footer'>
                                    Giá:  @item.Tour.GiaNguoiLon
                                </div>
                            </div>
                        </div>
                    </a>
                }
            }

        </div>

        <a href="@Url.Action("ChuyenHuongTimKiem","Tour",new { @hanhDong=-1})">Ngày trước</a>
        <a href="@Url.Action("ChuyenHuongTimKiem","Tour",new { @hanhDong= 1})" style="float:right">Ngày sau</a>

    </div>

}

<script src="~/Scripts/Tour/index.js"></script>